<div class="row" ng-controller="FacebookCtrl">
    <div class="col-md-4">
       
        <h4>{{welcomeMsg}}</h4>
        <div ng-if="isLoggedIn==true">
            <a href="{{userInfo.link}}" target="_blank" ><img ng-src="{{picture}}"></a>
        </div>
  
        
        <div ng-if="isLoggedIn==false">
        <!--        if isLoggedIn is false, we want to see login button-->
        <button type="button" class="btn btn-default" ng-click="login()">Login</button>
        </div>
        
        <div ng-if="isLoggedIn==true">
        <!--        if isLoggedIn is true, we want to see logout button-->
        <button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
        </div>
        <br>
        <br>
        <div ng-if="isLoggedIn==true" class="well" >
            <h4>User Information</h4>
            <ul> 
<!--               https://developers.facebook.com/docs/graph-api/reference/user-->
                <li>ID: {{userInfo.id}}</li>
                <li>First Name: {{userInfo.first_name}}</li>
                <li>Last Name: {{userInfo.last_name}}</li>
                <li>Email: {{userInfo.email}}</li>
                <li>Gender: {{userInfo.gender}}</li>
                <li>Local: {{userInfo.locale}}</li>

            </ul>
        </div>
        <div class="well">
            <h4>Permissions</h4>
            <ul>
                <li ng-repeat="permission in permissions">{{permission.permission}} - {{permission.status}}</li>
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label>Status Update</label>
                <textarea class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>